.home {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: black;

    &-nav {
        position: absolute;
        top: 2rem;
        left: 2rem;
    }

    &-emoji {
        text-align: center;
        position: absolute;
        top: 40%;
        left: 25%;
        width: 50%;
        height: max-content;
        -webkit-box-reflect: below -70px linear-gradient(transparent, rgba(0, 0, 0, 0.08));
    }

    &-btn {
        margin-right: 2rem;
        background-color: transparent;
        border: none;
        cursor: pointer;
        animation: anima 5s ease-in-out infinite;


        &:hover {

            animation: none;
            transform: scale(1);
            color: aliceblue;

        }

    }
}

.home-emoji {
    button:nth-of-type(1) {
        animation-delay: 0.1s;
    }

    button:nth-of-type(2) {
        animation-delay: .3s;
    }

    button:nth-of-type(3) {
        animation-delay: .5s;
    }

    button:nth-of-type(4) {
        animation-delay: .7s;
    }

    button:nth-of-type(5) {
        animation-delay: .9s;
    }
}



@keyframes anima {
    0% {
        transform: translateY(0px);
    }

    20% {
        transform: translateY(-30px);
    }

    40%,
    100% {
        transform: translateY(0px);
    }
}