@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');

.home {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: black;

    &-nav {
        position: absolute;
        top: 2rem;
        left: 2rem;
    }

    &-header {
        color: #fff;
        position: absolute;
        top: 10%;
        width: 50%;
        left: 25%;
        text-align: center;
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 2.5rem;
    }

    &-emoji {
        text-align: center;
        position: absolute;
        top: 40%;
        left: 25%;
        width: 50%;
        height: max-content;
        -webkit-box-reflect: below -90px linear-gradient(transparent, rgba(0, 0, 0, .3));
        display: flex;
        justify-content: center;
        column-gap: 2rem;
    }

    &-btn {
        background-color: transparent;
        border: none;
        cursor: pointer;
        animation: anima 5s ease-in-out infinite;


        &:hover {

            animation: none;
            transform: scale(1);
            color: aliceblue;

        }

    }
}

.warning {
    position: relative;
    width: 100%;
    height: 100vh;

    &-header {
        top: 10%;
        position: absolute;
        width: 100%;
        text-align: center;
        font-family: 'Montserrat Alternates', sans-serif;

    }


}

.home-emoji {
    button:nth-of-type(1) {
        animation-delay: 0.1s;
    }

    button:nth-of-type(2) {
        animation-delay: .3s;
    }

    button:nth-of-type(3) {
        animation-delay: .5s;
    }

    button:nth-of-type(4) {
        animation-delay: .7s;
    }

    button:nth-of-type(5) {
        animation-delay: .9s;
    }
}



@keyframes anima {
    0% {
        transform: translateY(0px);
    }

    20% {
        transform: translateY(-30px);
    }

    40%,
    100% {
        transform: translateY(0px);
    }
}